# Gradle files
.gradle/
local.properties
**/build/
**/captures/
.externalNativeBuild/
.cxx/

# Android Studio files
*.iml
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# MacOS files
.DS_Store

# Other files
*.log
*.temp
*.tmp

